##**<font color='#BF4AD4'>Cargue de librerias</font>**

In [12]:
import pandas as pd
from google.colab import files

## **<font color='#3498DB'>Cargue del dataframe</font>**

In [57]:
url = "https://raw.githubusercontent.com/Omaira85/BASES-DE-DATOS-SEG-SEMESTRE/main/Pueblo%20indigena2.csv"
puebloindigena2 = pd.read_csv(url, sep=';', encoding = 'unicode_escape')
puebloindigena2

,Código,Departamento,Código.1,Municipio,Población total,Maya,Garífuna,Xinka,Afrodescendiente / Creole / Afromestizo,Ladina(o),Extranjera(o)
0,7,Sololá,701,Sololá,88 612,83 767,50,5,57,4 705,28
1,7,Sololá,702,San José Chacayá,4 068,3 925,4,-,2,136,1
2,7,Sololá,703,Santa María Visitación,2 370,2 322,4,-,1,40,3
3,7,Sololá,704,Santa Lucía Utatlán,21 284,20 623,6,4,76,568,7
4,7,Sololá,705,Nahualá,75 430,75 274,48,-,22,82,4
...,...,...,...,...,...,...,...,...,...,...,...
106,14,Quiché,1417,San Bartolomé Jocotenango,13 568,13 371,6,-,3,186,2
107,14,Quiché,1418,Canillá,12 172,5 560,19,2,19,6 553,19
108,14,Quiché,1419,Chicamán,39 731,31 162,21,-,11,8 536,1
109,14,Quiché,1420,Playa Grande Ixcán,99 470,76 936,73,25,278,22 102,56
110,14,Quiché,1421,Pachalum,8 839,1 365,4,1,13,7 442,14

## **<font color='#3498DB'>Limpieza</font>**

In [58]:
import unicodedata

def strip_accents(s):
  if (type(s) == str):
    return ''.join(c for c in unicodedata.normalize('NFD', s) if unicodedata.category(c) != 'Mn')
  return s




for column in puebloindigena2.keys():
  puebloindigena2[column] = puebloindigena2[column].map(strip_accents)

puebloindigena2

,Código,Departamento,Código.1,Municipio,Población total,Maya,Garífuna,Xinka,Afrodescendiente / Creole / Afromestizo,Ladina(o),Extranjera(o)
0,7,Solola,701,Solola,88 612,83 767,50,5,57,4 705,28
1,7,Solola,702,San Jose Chacaya,4 068,3 925,4,-,2,136,1
2,7,Solola,703,Santa Maria Visitacion,2 370,2 322,4,-,1,40,3
3,7,Solola,704,Santa Lucia Utatlan,21 284,20 623,6,4,76,568,7
4,7,Solola,705,Nahuala,75 430,75 274,48,-,22,82,4
...,...,...,...,...,...,...,...,...,...,...,...
106,14,Quiche,1417,San Bartolome Jocotenango,13 568,13 371,6,-,3,186,2
107,14,Quiche,1418,Canilla,12 172,5 560,19,2,19,6 553,19
108,14,Quiche,1419,Chicaman,39 731,31 162,21,-,11,8 536,1
109,14,Quiche,1420,Playa Grande Ixcan,99 470,76 936,73,25,278,22 102,56
110,14,Quiche,1421,Pachalum,8 839,1 365,4,1,13,7 442,14

### **Cambio nombre de columnas**

In [59]:
puebloindigena2.columns = ['CODIGO', 'DEPARTAMENTO','CODIGO_1', 'MUNICIPIO',  'POBLACION_TOTAL', 'PDP_MAYA','PDP_GARIFUNA','PDP_XINCA', 'PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO', 'PDP_LADINA(O)','PDP_EXTRANJERA(O)' ]

In [60]:
puebloindigena2

,CODIGO,DEPARTAMENTO,CODIGO_1,MUNICIPIO,POBLACION_TOTAL,PDP_MAYA,PDP_GARIFUNA,PDP_XINCA,PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO,PDP_LADINA(O),PDP_EXTRANJERA(O)
0,7,Solola,701,Solola,88 612,83 767,50,5,57,4 705,28
1,7,Solola,702,San Jose Chacaya,4 068,3 925,4,-,2,136,1
2,7,Solola,703,Santa Maria Visitacion,2 370,2 322,4,-,1,40,3
3,7,Solola,704,Santa Lucia Utatlan,21 284,20 623,6,4,76,568,7
4,7,Solola,705,Nahuala,75 430,75 274,48,-,22,82,4
...,...,...,...,...,...,...,...,...,...,...,...
106,14,Quiche,1417,San Bartolome Jocotenango,13 568,13 371,6,-,3,186,2
107,14,Quiche,1418,Canilla,12 172,5 560,19,2,19,6 553,19
108,14,Quiche,1419,Chicaman,39 731,31 162,21,-,11,8 536,1
109,14,Quiche,1420,Playa Grande Ixcan,99 470,76 936,73,25,278,22 102,56
110,14,Quiche,1421,Pachalum,8 839,1 365,4,1,13,7 442,14

### **Informacion de la base y tipos de variables de cada una de las columnas del Dataframe**

In [61]:
puebloindigena2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 11 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CODIGO                                   111 non-null    int64
 1   DEPARTAMENTO                             111 non-null    object
 2   CODIGO_1                                 111 non-null    int64
 3   MUNICIPIO                                111 non-null    object
 4   POBLACION_TOTAL                          111 non-null    object
 5   PDP_MAYA                                 111 non-null    object
 6   PDP_GARIFUNA                             111 non-null    object
 7   PDP_XINCA                                111 non-null    object
 8   PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO  111 non-null    object
 9   PDP_LADINA(O)                            111 non-null    object
 10  PDP_EXTRANJERA(O)                        111 non-null    object
dtypes: int64(2), object(9)
memory usage: 9.7+ KB

### **Se remplazan espacios en blanco por ningún valor**

In [62]:
def remover_espacio(cadena):
  return cadena.replace(" ", "", regex = True)

In [63]:
puebloindigena2.iloc[:, 4:11] = remover_espacio(puebloindigena2.iloc[:, 4:11])

In [64]:
puebloindigena2

,CODIGO,DEPARTAMENTO,CODIGO_1,MUNICIPIO,POBLACION_TOTAL,PDP_MAYA,PDP_GARIFUNA,PDP_XINCA,PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO,PDP_LADINA(O),PDP_EXTRANJERA(O)
0,7,Solola,701,Solola,88612,83767,50,5,57,4705,28
1,7,Solola,702,San Jose Chacaya,4068,3925,4,-,2,136,1
2,7,Solola,703,Santa Maria Visitacion,2370,2322,4,-,1,40,3
3,7,Solola,704,Santa Lucia Utatlan,21284,20623,6,4,76,568,7
4,7,Solola,705,Nahuala,75430,75274,48,-,22,82,4
...,...,...,...,...,...,...,...,...,...,...,...
106,14,Quiche,1417,San Bartolome Jocotenango,13568,13371,6,-,3,186,2
107,14,Quiche,1418,Canilla,12172,5560,19,2,19,6553,19
108,14,Quiche,1419,Chicaman,39731,31162,21,-,11,8536,1
109,14,Quiche,1420,Playa Grande Ixcan,99470,76936,73,25,278,22102,56
110,14,Quiche,1421,Pachalum,8839,1365,4,1,13,7442,14

In [65]:
def remover_caracteres(cadena):
  return cadena.replace("-", "0", regex = True)

In [66]:
puebloindigena2.iloc[:, 4:11] = remover_caracteres(puebloindigena2.iloc[:, 4:11])

In [67]:
puebloindigena2

,CODIGO,DEPARTAMENTO,CODIGO_1,MUNICIPIO,POBLACION_TOTAL,PDP_MAYA,PDP_GARIFUNA,PDP_XINCA,PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO,PDP_LADINA(O),PDP_EXTRANJERA(O)
0,7,Solola,701,Solola,88612,83767,50,5,57,4705,28
1,7,Solola,702,San Jose Chacaya,4068,3925,4,0,2,136,1
2,7,Solola,703,Santa Maria Visitacion,2370,2322,4,0,1,40,3
3,7,Solola,704,Santa Lucia Utatlan,21284,20623,6,4,76,568,7
4,7,Solola,705,Nahuala,75430,75274,48,0,22,82,4
...,...,...,...,...,...,...,...,...,...,...,...
106,14,Quiche,1417,San Bartolome Jocotenango,13568,13371,6,0,3,186,2
107,14,Quiche,1418,Canilla,12172,5560,19,2,19,6553,19
108,14,Quiche,1419,Chicaman,39731,31162,21,0,11,8536,1
109,14,Quiche,1420,Playa Grande Ixcan,99470,76936,73,25,278,22102,56
110,14,Quiche,1421,Pachalum,8839,1365,4,1,13,7442,14

### **Se cambian tipos de datos de object a int64**

In [70]:
puebloindigena2 = puebloindigena2.astype({'POBLACION_TOTAL': 'int64', 'PDP_MAYA': 'int64', 'PDP_GARIFUNA': 'int64', 'PDP_XINCA': 'int64', 'PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO': 'int64', 'PDP_LADINA(O)': 'int64', 'PDP_EXTRANJERA(O)': 'int64' })

### **Informacion de la base y tipos de variables de cada una de las columnas del Dataframe**

In [72]:
puebloindigena2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 11 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CODIGO                                   111 non-null    int64
 1   DEPARTAMENTO                             111 non-null    object
 2   CODIGO_1                                 111 non-null    int64
 3   MUNICIPIO                                111 non-null    object
 4   POBLACION_TOTAL                          111 non-null    int64
 5   PDP_MAYA                                 111 non-null    int64
 6   PDP_GARIFUNA                             111 non-null    int64
 7   PDP_XINCA                                111 non-null    int64
 8   PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO  111 non-null    int64
 9   PDP_LADINA(O)                            111 non-null    int64
 10  PDP_EXTRANJERA(O)                        111 non-null    int64
dtypes: int64(9), object(2)
memory usage: 9.7+ KB

In [73]:
puebloindigena2

,CODIGO,DEPARTAMENTO,CODIGO_1,MUNICIPIO,POBLACION_TOTAL,PDP_MAYA,PDP_GARIFUNA,PDP_XINCA,PDP_AFRODESCENDIENTE/CREOLE/AFROMESTIZO,PDP_LADINA(O),PDP_EXTRANJERA(O)
0,7,Solola,701,Solola,88612,83767,50,5,57,4705,28
1,7,Solola,702,San Jose Chacaya,4068,3925,4,0,2,136,1
2,7,Solola,703,Santa Maria Visitacion,2370,2322,4,0,1,40,3
3,7,Solola,704,Santa Lucia Utatlan,21284,20623,6,4,76,568,7
4,7,Solola,705,Nahuala,75430,75274,48,0,22,82,4
...,...,...,...,...,...,...,...,...,...,...,...
106,14,Quiche,1417,San Bartolome Jocotenango,13568,13371,6,0,3,186,2
107,14,Quiche,1418,Canilla,12172,5560,19,2,19,6553,19
108,14,Quiche,1419,Chicaman,39731,31162,21,0,11,8536,1
109,14,Quiche,1420,Playa Grande Ixcan,99470,76936,73,25,278,22102,56
110,14,Quiche,1421,Pachalum,8839,1365,4,1,13,7442,14

In [75]:
puebloindigena2.to_csv('puebloindigena2.csv')
files.download('puebloindigena2.csv')